@import url('https://fonts.googleapis.com/css2?family=Anton&family=Freeman&display=swap');
@import "tailwindcss";

@theme {
  --font-anton: "Anton", sans-serif;
  --font-freeman: "Freeman", sans-serif;
  --color-primary: #8544FA;
  --color-secondary: #390778;
  --color-black: #2c2a29;
  --color-white: #FEFBEA;
}

::selection {
  background-color: rgba(133, 68, 250, 0.8);
  color: #FEFBEA;
}

body {
  background-color: #FEFBEA;
  color: #2c2a29;
  font-family: var(--font-freeman), sans-serif;
  overflow-x: hidden;
}

.heading-text-2 {
  -webkit-text-stroke: 2px #2c2a29;
  color: #FEFBEA;
  line-height: 1.1;
  text-shadow:
    0 0 #2c2a29,
    -0.04px 2px #2c2a29,
    -0.08px 4px #2c2a29,
    -0.12px 6px #2c2a29;
}

.heading-text-3 {
  -webkit-text-stroke: 3px #2c2a29;
  color: #FEFBEA;
  line-height: 1.1;
  text-shadow:
    0 0 #2c2a29,
    -0.04px 2px #2c2a29,
    -0.08px 4px #2c2a29,
    -0.12px 6px #2c2a29,
    -0.16px 8px #2c2a29;
}

.brutal-shadow-sm {
  box-shadow: 2px 2px 0px #2c2a29;
}

.brutal-shadow {
  box-shadow: 4px 4px 0px #2c2a29;
}

.brutal-shadow-left {
  box-shadow: 6px 6px 0px #2c2a29;
}

.brutal-shadow-right {
  box-shadow: -6px 6px 0px #2c2a29;
}

.brutal-btn {
  box-shadow: 4px 4px 0px #2c2a29;
  border: 2px solid #2c2a29;
  cursor: pointer;
  transition: all 0.1s ease;
}

.brutal-btn:hover {
  box-shadow: 1px 1px 0px #2c2a29;
  transform: translate(3px, 3px);
}

.brutal-btn:active {
  box-shadow: 0px 0px 0px #2c2a29;
  transform: translate(4px, 4px);
}

.button-primary {
  box-shadow: 6px 6px 0px #2c2a29;
  border: 2px solid #2c2a29;
  cursor: pointer;
  font-family: var(--font-freeman), sans-serif;
  transition: all 0.1s ease;
}

.button-primary:hover {
  box-shadow: 2px 2px 0px #2c2a29;
  transform: translate(4px, 4px);
}

.button-primary-pressed {
  box-shadow: 2px 2px 0px #2c2a29;
  border: 2px solid #2c2a29;
  font-family: var(--font-freeman), sans-serif;
  transform: translate(4px, 4px);
}
